<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Des cadavres dans le placard</h1>
        </div>
    </div>

    <div class="row">
        <!-- Sidebar section for search bar and filters -->
        
        <div class="col-12 col-md-4">
            <div class="search-bar mb-3">
                <form class="d-flex" action="/story/search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Nom d'un auteur, titre..."
                        name="searchBar" id="searchBar">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                </form>
            </div>

            {{#if storiesFilter}}
            <div class="filter-block mb-3">
                <div class="filter-opts">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" value="titleRadio" id="titleRadio">
                        <label class="form-check-label" for="titleRadio">Titre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" value="genreRadio" id="genreRadio">
                        <label class="form-check-label" for="genreRadio">Genre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" value="authorRadio" id="authorRadio">
                        <label class="form-check-label" for="authorRadio">Auteur</label>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>

        <!-- Main content section for articles -->
        <div class="col-12 col-md-8">
            {{#if storiesFilter}}
            <div class="story-block">
                {{#each storiesFilter}}
                <div class="story-full mb-3" id="storyFull">
                    <div class="article-title">
                        <h3 class="story-title">
                            <a href="/story/read/{{id}}">{{title}}</a>
                        </h3>
                    </div>
                    <div class="article-sample row">
                        <div class="col-12 col-md-2">
                            <img src="/pictures/logo145.webp" alt="" class="img-fluid">
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="article-resume">
                                <h4>Incipit</h4>
                                <p> {{content}} </p>
                            </div>
                            <div class="article-infos d-flex">
                                <p class="me-3"> {{'genre.genre_name'}} </p>
                                <p class="me-3"> {{'user.username'}} </p>
                                {{#if isFinished}}
                                <p class="me-3">Histoire terminée</p>
                                {{else}}
                                <p class="me-3">En cours</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}

            <div class="row">
                {{#each stories}}
                <div class="col-12 mb-3">
                    <div class="article-title">
                        <h3>
                            <a href="/story/read/{{id}}">{{title}}</a>
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="/pictures/logo145.webp" alt="" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <div class="article-resume">
                                <h4>Incipit</h4>
                                <p> {{content}} </p>
                            </div>
                            <div class="article-infos d-flex justify-content-between">
                                <p> {{'genre.genre_name'}} </p>
                                <p> {{'user.username'}} </p>
                                {{#if isFinished}}
                                <p>Histoire terminée</p>
                                {{else}}
                                <p>En cours</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script id="searchQuery" data-value="{{searchQuery}}" src="/js/search_filter.js"></script>