<div class="container-fluid">
    <div class="row">
        <h1 class="text-center"> {{story.title}} </h1>
        <h2 class="text-center">Ecrit par {{story.user.username}} </h2>
    </div>

    {{#if error}}
    <p>{{error}}</p>
    {{/if}}

    {{#if story.isFinished}}
    <div class="story-read">
        <div class="story-content">
            <p> {{story.content}} </p>
        </div>

        {{#if isAdmin}}
        <div class="story-chapters">
            <ul>
                {{#each story.chapters}}
                <li class="chapters-container d-flex align-items-center">
                    {{content}}
                    <span class="mx-1">Ecrit par {{user.username}} </span>
                    <form action="/chapter/delete/{{id}}" method="post">
                        <button class="btn btn-outline-secondary my-1" type="submit">Supprimer</button>
                    </form>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
    {{else}}
    <div class="story-read">
        <div class="story-content">
            <p> {{story.content}} </p>
        </div>

        {{#if isAdmin}}
        <div class="">
            <ul>
                {{#each story.chapters}}
                <li class="chapters-container d-flex align-items-center">
                    {{content}}
                    <span class="mx-1">Ecrit par {{user.username}} </span>
                    <form action="/chapter/delete/{{id}}" method="post">
                        <button class="btn btn-outline-secondary my-1" type="submit">Supprimer</button>
                    </form>

                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

        {{#ifNotEqual story.user.username username}}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="/chapter/create/{{story.id}}" method="post" class="text-center">
                        <div class="mb-3">
                            <textarea name="content" id="chapter" class="form-control" cols="100" rows="10"
                                placeholder="Ajouter votre chapitre"></textarea>
                        </div>
                        <button class="btn btn-outline-secondary" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
        {{/ifNotEqual}}

        {{#ifCond story.user.username username}}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="/story/finish/{{story.id}}" method="post" class="text-center">
                        <div class="mb-3">
                            <textarea name="content" id="chapter" class="form-control" cols="100" rows="10"
                                placeholder="Terminez votre histoire"></textarea>
                        </div>
                        <button class="btn btn-outline-secondary" type="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
        {{/ifCond}}


    </div>
    {{/if}}
</div>