<div class="page-title">
    <h1> {{story.title}} </h1>
    <h2>Ecrit par {{story.user.username}} </h2>
</div>

{{#if story.isFinished}}
<div class="story-read">
    <div class="story-content">
        <p> {{story.content}} </p>
    </div>

    <div class="story-chapters">
        <ul>
            {{#each story.chapters}}
            <li class="chapters-container">
                {{content}}
                <span>Ecrit par {{user.username}} </span>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{else}}
<div class="story-read">
    <div class="story-content">
        <p> {{story.content}} </p>
    </div>

    <div class="story-chapters">
        <ul>
            {{#each story.chapters}}
            <li class="chapters-container">
                {{content}}
                <span>Ecrit par {{user.username}} </span>
            </li>
            {{/each}}
        </ul>
    </div>

    {{#ifCond story.user.username username}}
    <form action="/story/finish/{{story.id}}" method="post">
        <textarea name="content" id="chapter" cols="100" rows="10" placeholder="Terminez votre histoire"></textarea>
        <button type="submit">Envoyer</button>
    </form>
    {{/ifCond}}
    
    <form action="/chapter/create/{{story.id}}" method="post">
        <textarea name="content" id="chapter" cols="100" rows="10" placeholder="Ajouter votre chapitre"></textarea>
        <button type="submit">Envoyer</button>
    </form>

</div>
{{/if}}