<div class="user-title">
    <h1>Hello {{username}} </h1>
</div>

<div class="storyList-pannel">
    <h2>History</h2>
    <div class="articles-pannel">
        {{#each stories}}
        <div class="article-title">
            <h3> {{title}} </h3>
        </div>
        <div class="article-sample">
            <div class="col-1">
                <div class="article-cover">
                    <img src="/pictures/logo145.webp" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="article-resume">
                    <h4>Incipit</h4>
                    <p> {{content}} </p>
                </div>
                <div class="article-infos">
                    <p> {{'genre.genre_name'}} </p>
                    <button><a href="/story/read/{{id}}">Read</a></button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="perso">
        <h2>Mes informations</h2>
        <div class="ac-username">
            <p>Nom d'utilisateur :</p>
            <p>Username</p>
            <button><a href="">Modifier</a></button>
        </div>
        <div class="ac-password">
            <p>Mot de passe :</p>
            <p>Mot de passe caché</p>
            <button><a href="">Modifier</a></button>
        </div>
        <div class="ac-email">
            <p>Email :</p>
            <p>Email</p>
            <button><a href="">Modifier</a></button>
        </div>
    </div>
</div>